In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib

%matplotlib inline

sns.set(style="darkgrid")
matplotlib.rcParams['figure.figsize'] = 20, 8

In [3]:
gas_train = pd.read_csv("data_task1/gas_train.csv")

In [352]:
chronom_train = pd.read_csv("data_task1/chronom_train.csv")
chronom_test = pd.read_csv("data_task1/chronom_test.csv")
plavki_train = pd.read_csv("data_task1/plavki_train.csv")
plavki_test = pd.read_csv("data_task1/plavki_test.csv")

In [400]:
plavki_test

,NPLV,plavka_VR_NACH,plavka_VR_KON,plavka_NMZ,plavka_NAPR_ZAD,plavka_STFUT,plavka_TIPE_FUR,plavka_ST_FURM,plavka_TIPE_GOL,plavka_ST_GOL
0,512324,2021-05-05 17:41:21,2021-05-05 18:46:07,Ст3пс/Э,Изл,2,цилиндрическая,2,4-сопл х54,2
1,512327,2021-05-05 21:07:01,2021-05-05 22:02:26,C121TM/ЭТ,МНЛС,5,цилиндрическая,5,4-сопл х54,5
2,512328,2021-05-05 22:03:12,2021-05-05 23:39:32,Ст3пс/Э,Изл,6,цилиндрическая,6,4-сопл х54,6
3,512331,2021-05-06 02:21:46,2021-05-06 03:49:18,25Г2С,Изл,9,цилиндрическая,9,4-сопл х54,9
4,512333,2021-05-06 05:22:03,2021-05-06 06:25:51,C091TM.z01/ЭТ,МНЛС,11,цилиндрическая,11,4-сопл х54,11
...,...,...,...,...,...,...,...,...,...,...
775,513369,2021-06-29 17:08:33,2021-06-29 17:55:50,Ст3сп/Т,МНЛЗ,1047,цилиндрическая,2,601-5,2
776,513370,2021-06-29 18:03:00,2021-06-29 18:49:50,Ст3сп/Т,МНЛЗ,1048,цилиндрическая,3,601-5,3
777,513371,2021-06-29 18:55:21,2021-06-29 19:53:39,Ст3сп/Т,МНЛЗ,1049,цилиндрическая,4,601-5,4
778,513372,2021-06-29 20:18:40,2021-06-29 20:59:18,Ст3сп/Т,МНЛЗ,1050,цилиндрическая,5,601-5,5
779,513374,2021-06-29 22:43:02,2021-06-29 23:29:10,Ст3сп/Т,МНЛЗ,1052,цилиндрическая,7,601-5,7

Нагрев лома
Заливка чугуна
Продувка
Повалка

In [210]:
plavki_train.index.unique()

Int64Index([510008, 510009, 510010, 510011, 510012, 510013, 510014, 510015,
            510016, 510017,
            ...
            512313, 512314, 512315, 512316, 512317, 512318, 512319, 512320,
            512321, 512322],
           dtype='int64', name='NPLV', length=2063)

In [351]:
plavki_train[plavki_train.NPLV == 512321].iloc[0]["plavka_VR_NACH"]

'2021-04-26 16:22:37'

In [401]:
chronom_test

,Unnamed: 0,NPLV,TYPE_OPER,NOP,VR_NACH,VR_KON,O2
0,0,512324,межпл.прост.,межпл. простой,2011-05-07 21:28:59,2011-05-07 21:33:38,NaN
1,1,512324,межпл.прост.,межпл. простой,2021-05-05 17:35:55,2021-05-05 17:41:21,NaN
2,2,512324,межпл.прост.,Осмотр конвертера,2021-05-05 17:36:07,2021-05-05 17:39:07,NaN
3,3,512324,межпл.прост.,Слив шлака,2021-05-05 17:39:07,2021-05-05 17:41:20,NaN
4,4,512324,опер,Завалка лома,2021-05-05 17:41:21,2021-05-05 17:43:16,NaN
...,...,...,...,...,...,...,...
7840,7840,513374,опер,Завалка лома,2021-06-29 22:43:02,2021-06-29 22:43:54,NaN
7841,7841,513374,опер,Нагрев лома,2021-06-29 22:43:54,2021-06-29 22:49:59,NaN
7842,7842,513374,опер,Нагрев лома,2021-06-29 22:43:54,2021-06-29 22:49:59,1797.0
7843,7843,513374,опер,Заливка чугуна,2021-06-29 22:50:07,2021-06-29 22:53:43,NaN
7844,7844,513374,опер,Продувка,2021-06-29 22:53:43,2021-06-29 23:13:47,NaN

In [402]:
chronom_test["PLAVKA_START"] = None
for nplv in chronom_test.NPLV.unique():
    chronom_test.loc[chronom_test.NPLV == nplv, "PLAVKA_START"] = str(plavki_test[plavki_test.NPLV == nplv].iloc[0]["plavka_VR_NACH"])

In [403]:
chronom_test["PLAVKA_START"] = pd.to_datetime(chronom_test.PLAVKA_START)

In [404]:
chronom_test["VR_NACH"] = chronom_test["VR_NACH"].apply(pd.to_datetime).apply(lambda x: x.replace(year=2021) if x.year == 2011 else x)

In [405]:
chronom_test["VR_KON"] = chronom_test["VR_KON"].apply(pd.to_datetime).apply(lambda x: x.replace(year=2021) if x.year == 2011 else x)

In [406]:
chronom_test["sec_nach_from_start"] = (chronom_test["VR_NACH"] - chronom_test["PLAVKA_START"]).apply(lambda td : td.total_seconds())

In [407]:
chronom_test["sec_kon_from_start"] = (chronom_test["VR_KON"] - chronom_test["PLAVKA_START"]).apply(lambda td : td.total_seconds())

In [408]:
upd_chronom = chronom_test[["NPLV", "NOP", "sec_nach_from_start", "sec_kon_from_start"]].rename(columns={"sec_nach_from_start": "start", "sec_kon_from_start": "end"})

In [414]:
upd_chronom

        NPLV             NOP   start     end
5     512324     Нагрев лома   115.0   480.0
8     512324  Заливка чугуна  1175.0  1318.0
9     512324        Продувка  1318.0  2581.0
15    512327  Заливка чугуна   114.0   692.0
16    512327        Продувка   692.0  1766.0
...      ...             ...     ...     ...
7833  513372  Заливка чугуна   105.0   279.0
7834  513372        Продувка   279.0  1614.0
7841  513374     Нагрев лома    52.0   417.0
7843  513374  Заливка чугуна   425.0   641.0
7844  513374        Продувка   641.0  1845.0

[1820 rows x 4 columns]

In [367]:
upd_chronom.to_csv("upd_train_chronom.csv", index=False)

In [393]:
ins_nop = {
'Нагрев лома',
'Заливка чугуна',
'Продувка',
'Повалка'
}

mapping_nop = {
    "Нагрев лома": "nagrev_loma",
    "Заливка чугуна": "zalivka_chuguna",
    "Продувка": "produvka",
    "Повалка": "povalka"
}

In [411]:
upd_chronom = upd_chronom[upd_chronom.NOP.isin(ins_nop)]

In [413]:
upd_chronom = upd_chronom.drop_duplicates()

In [415]:
nop1_tables = []
for nop in ins_nop:
    nop_table = upd_chronom[upd_chronom.NOP == nop].drop(columns=["NOP"]).groupby(by="NPLV").min().rename(columns=lambda name: mapping_nop[nop] + "_" + name)
    nop1_tables.append(nop_table)

In [417]:
pd.concat(nop1_tables, axis=1).to_csv("test_chronom_timing.csv")

In [398]:
pd.concat(nop1_tables, axis=1).to_csv("train_chronom_timing.csv")

In [470]:
test_chronom_timing = pd.read_csv("test_chronom_timing.csv")
train_chronom_timing = pd.read_csv("train_chronom_timing.csv")

In [419]:
test_chronom_timing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   NPLV                   780 non-null    int64
 1   povalka_start          0 non-null      float64
 2   povalka_end            0 non-null      float64
 3   zalivka_chuguna_start  780 non-null    float64
 4   zalivka_chuguna_end    780 non-null    float64
 5   nagrev_loma_start      253 non-null    float64
 6   nagrev_loma_end        253 non-null    float64
 7   produvka_start         780 non-null    float64
 8   produvka_end           780 non-null    float64
dtypes: float64(8), int64(1)
memory usage: 55.0 KB

In [ ]:
['povalka_start','povalka_end','nagrev_loma_start','nagrev_loma_end']

In [420]:
train_chronom_timing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2063 entries, 0 to 2062
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   NPLV                   2063 non-null   int64
 1   povalka_start          2063 non-null   float64
 2   povalka_end            2063 non-null   float64
 3   zalivka_chuguna_start  2063 non-null   float64
 4   zalivka_chuguna_end    2063 non-null   float64
 5   nagrev_loma_start      1766 non-null   float64
 6   nagrev_loma_end        1766 non-null   float64
 7   produvka_start         2063 non-null   float64
 8   produvka_end           2063 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 145.2 KB

In [468]:
gas_train = pd.read_csv("data_task1/gas_train.csv")

In [469]:
gas_test = pd.read_csv("data_task1/gas_test.csv")

In [461]:
from tqdm.notebook import tqdm

In [473]:
train_chronom_timing.drop(columns=['povalka_start','povalka_end','nagrev_loma_start','nagrev_loma_end'], inplace=True)

In [477]:
test_chronom_timing.drop(columns=['povalka_start','povalka_end','nagrev_loma_start','nagrev_loma_end'], inplace=True)

In [446]:
ops = ['zalivka_chuguna', 'produvka']

In [476]:
for i in tqdm(range(len(test_chronom_timing))):
    for op in ops:
        start =  int(test_chronom_timing.loc[i][op + "_start"])
        end =  int(test_chronom_timing.loc[i][op + "_end"])
        npvl = test_chronom_timing.loc[i]["NPLV"]
        df = gas_test[gas_test["NPLV"] == npvl].iloc[start:end].describe()
        for stat in ["mean", "std", "min", "25%", "50%", "75%", "max"]:
            for elem in ["V", "T", "O2", "N2", "H2", "CO2", "CO", "AR", "T фурмы 1", "T фурмы 2", "O2_pressure"]:
                test_chronom_timing.loc[i, op + "_" + stat + "_" + elem] = df.loc[stat, elem]

  0%|          | 0/780 [00:00<?, ?it/s]

In [471]:
for i in tqdm(range(len(train_chronom_timing))):
    for op in ops:
        start =  int(train_chronom_timing.loc[i][op + "_start"])
        end =  int(train_chronom_timing.loc[i][op + "_end"])
        npvl = train_chronom_timing.loc[i]["NPLV"]
        df = gas_train[gas_train["NPLV"] == npvl].iloc[start:end].describe()
        for stat in ["mean", "std", "min", "25%", "50%", "75%", "max"]:
            for elem in ["V", "T", "O2", "N2", "H2", "CO2", "CO", "AR", "T фурмы 1", "T фурмы 2", "O2_pressure"]:
                train_chronom_timing.loc[i, op + "_" + stat + "_" + elem] = df.loc[stat, elem]

  0%|          | 0/2063 [00:00<?, ?it/s]

In [475]:
train_chronom_timing.to_csv("train_timing_gas.csv")

In [478]:
test_chronom_timing.to_csv("test_timing_gas.csv")